*
!.gitignore
!.gitattributes
!.dockerignore
!/config.yaml.example
!/agent.js
!/agent-arm64.js
!/go.mod
!/go.sum
!/main.go
!/web.go
!/queue_store.go
!/wrapper_manager.go
!/README.md
!/PROXY-SETUP.md
!/DOCKER-BUILD.md
!/docker-compose.yml
!/frontend/
!/frontend/dist/
!/frontend/dist/**
!/docker/
!/docker/**
!/scripts/
!/scripts/**
!/utils/
!/utils/**
!/cmd/
!/cmd/**
